<?xml version="1.0"?>
<configuration>
  <configSections>

    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClickAndTravelSearchEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="RedisHost" value="188.65.209.177"/>
    <add key="MasterTourConnectionString" value="Server=192.168.222.225; Database=click1; User ID=mn01;Password=price;Trusted_Connection=no"/>


    <add key="HotelsResultsLifetime" value="600" />
  
    <add key="SearchHotelsInUts" value="true"/>
	<add key="SearchHotelsInVizit" value="false"/>

    <add key="HotelBookMargin" value="1.15"/>

    <add key="VizitMargin" value="1.1"/>
    
	<add key="VizitPansionGroup0" value="10"/><!--без питания-->
	<add key="VizitPansionGroup1" value="18,29,36,34,39,51,55"/><!--завтрак-->
	<add key="VizitPansionGroup2" value="2,16,24,33"/><!--полупансион-->
	<add key="VizitPansionGroup3" value="1,15,23,25,30"/><!--пансион-->
	<add key="VizitPansionGroup4" value="14"/><!--все включено-->
	<add key="VizitPansionGroup5" value="true"/><!--резерв-->
	<add key="VizitPansionGroup6" value="true"/><!--резерв-->
    
    <add key="UtsPansionGroup0" value="25,1,6"/>
    <!--без питания-->
    <add key="UtsPansionGroup1" value="2,26,29,21,23,17,30,27,18,24,12,34,13,31,16,19,33,20,28"/>
    <!--завтрак-->
    <add key="UtsPansionGroup2" value="4,8,3,9,15,32"/>
    <!--полупансион-->
    <add key="UtsPansionGroup3" value="5,7,10,36"/>
    <!--пансион-->
    <add key="UtsPansionGroup4" value="14,35"/>
    <!--все включено-->
    <add key="UtsPansionGroup5" value="true"/>
    <!--резерв-->
    <add key="UtsPansionGroup6" value="true"/>
    <!--резерв-->
  </appSettings>
    
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SF_serviceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2485536" maxReceivedMessageSize="2485536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SF_serviceSoap1" />
        <binding name="MasterWebServiceFormSoap" />
        <binding name="TravelApiServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="TravelApiServiceSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="TravelApiServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://online.clickandtravel.ru/SF_Service_MySql_dev/SF_service.asmx"
        binding="basicHttpBinding" bindingConfiguration="SF_serviceSoap"
        contract="SF_service.SF_serviceSoap" name="SF_serviceSoap" />
      <endpoint address="http://188.65.209.177/SF_service_MySql_dev/sf_service.asmx"
        binding="basicHttpBinding" bindingConfiguration="SF_serviceSoap1"
        contract="SF_service.SF_serviceSoap" name="SF_serviceSoap1" />
      <endpoint address="http://188.65.209.177/webServiceE4u2009/ServiceFormParams.asmx"
        binding="basicHttpBinding" bindingConfiguration="MasterWebServiceFormSoap"
        contract="VizitMaster.MasterWebServiceFormSoap" name="MasterWebServiceFormSoap" />
      <endpoint address="https://travelxmlapi-release.oktogotest.ru/TravelApiservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="TravelApiServiceSoap"
        contract="OktogoService.TravelApiServiceSoap" name="TravelApiServiceSoap" />
      <endpoint address="https://travelxmlapi-release.oktogotest.ru/TravelApiservice.asmx"
        binding="customBinding" bindingConfiguration="TravelApiServiceSoap12"
        contract="OktogoService.TravelApiServiceSoap" name="TravelApiServiceSoap12" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <ClickAndTravelSearchEngine.Properties.Settings>
      <setting name="RedisHost" serializeAs="String">
        <value>localhost</value>
      </setting>
    </ClickAndTravelSearchEngine.Properties.Settings>
  </applicationSettings>
</configuration>